/* apply a natural box layout model to all elements, but allowing components to change */

/* ****************************** */
/* GLOBAL */

:root {
  --color-primary: #6f1327;
  --color-light-primary: #872a49;
  --color-secondary: #e9e9e9;

  --color-background: #f5f5f5;
  --color-white: #ffffff;

  --font-primary: "Red Hat Text", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
  background-color: var(--color-background);
  font-family: var(--font-primary);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* ****************************** */
/* UTILITIES */

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.float {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 9rem;
  right: 2.5rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 2px 2px 3px rgb(49, 47, 47);
  z-index: 100;
}

.my-float {
  margin-top: 1.6rem;
}

.float-2 {
  position: fixed;
  width: 6rem;
  height: 6rem;
  bottom: 15.5rem;
  right: 2.5rem;
  background-color: #484848;
  color: #fff;
  border-radius: 5rem;
  text-align: center;
  font-size: 3rem;
  box-shadow: 2px 2px 3px rgb(49, 47, 47);
  z-index: 100;
}

.my-float-2 {
  margin-top: 1.6rem;
}

/* ****************************** */
/* BUTTONS */

.btn {
  display: inline-block;
  text-align: center;
  padding: 0.5rem 2.8rem;
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: 1.4rem;
}

.btn-contact {
  background-color: var(--color-white);
  color: var(--color-primary);
  text-transform: uppercase;
}

.btn-sent {
  margin-top: 2rem;
  background-color: #e9e9e9;
  color: var(--color-primary);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}

.btn-contact:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* ****************************** */
/* HEADER */

.header {
  background-image: url(../img/cover.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60rem;
}

/* ****************************** */
/* HEADER--CONTAINER */

.nav {
  display: flex;
  flex-direction: column;
}

.nav-2 {
  /* visibility: hidden; */
  display: none;
}
.nav-3 {
  overflow: hidden;
}
nav.nav-3 a {
  font-size: 1.5rem;
  padding: 0;
}
.mobile-menu {
  padding: 1rem 0;
}
.mobile-menu img {
  font-size: 2rem;
  margin-left: 10rem;
}
@media (min-width: 370px) {
  .mobile-menu img {
    margin-left: 11.2rem;
  }
}
@media (min-width: 400px) {
  .mobile-menu img {
    margin-left: 14.6rem;
  }
}
#nav:target {
  margin-bottom: 5rem;
  max-height: 17rem;
}

.nav-3 {
  margin-bottom: 27rem;
  max-height: 0;
}

.header--container--text {
  margin-top: 13rem;
}

@media (min-width: 700px) {
  #nav:target {
    margin-bottom: 10rem;
  }
}
@media (min-width: 780px) {
  .nav-3 {
    max-height: unset;
  }
  .mobile-menu,
  .cerrar {
    display: none !important;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }
}

/** NAVEGACIÓN **/

.nav-3 a {
  color: white;
  text-decoration: none;
  /* font-size: 22px; */
  display: block;
  text-align: right;
  /* padding: 20px; */
}
.header--container--nav--img {
  width: 20rem;
}
@media (min-width: 780px) {
  .header--container--nav--img {
    width: 25rem;
  }

  .nav-2 {
    visibility: visible;
    margin: 1rem 0;
  }

  .header--container--nav {
    display: flex;
    justify-content: space-between;
  }

  .header--container--nav a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-primary);
  }

  .header--container--nav nav a {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 0 2rem;
    line-height: 2;
    text-transform: uppercase;
    text-align: left;
    border-right: 2px solid #f5f5f5;
  }
  .header--container--nav nav a:nth-of-type(6) {
    border-right: none;
    margin-right: 0;
  }

  .header--container--nav nav a:hover {
    color: var(--color-primary);
  }

  .nav-1 {
    grid-area: nav-1;
  }
  .nav-2 {
    grid-area: nav-2;
  }
  .nav-3 {
    grid-area: nav-3;
  }

  .header--container--nav {
    display: grid;
    grid-template-columns: 24rem auto;
    grid-template-rows: auto;
    grid-template-areas:
      "nav-1 nav-2"
      "nav-1 nav-3";
    justify-items: end;
  }

  .header--container--icons {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: 2rem;
  }

  .header--container--icons img {
    height: 2.5rem;
    margin-right: 1.5rem;
  }
}

/* ****************************** */
/* HEADER TEXT */

.header--container--text {
  text-align: center;
}

.header--container--text h1 {
  font-size: 3rem;
}

.header--container--text h1,
p {
  color: var(--color-white);
  font-family: var(--font-primary);
  margin: 0;
}

.header--container--text a {
  margin-top: 1.5rem;
}

.header--container--text p {
  font-size: 1.6rem;
  margin: 2rem auto 1rem;
  width: 243px;
  height: 64px;
  text-align: center;
}

@media (min-width: 480px) {
  .header--container--text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }
  .header--container--text h1 {
    font-size: 4rem;
  }

  .header--container--text p {
    margin: 2rem 0 1rem 0;
    line-height: 1.2;
    width: 33rem;
    font-size: 2rem;
    text-align: left;
  }
}
@media (min-width: 700px) {
  .mobile-menu img {
    margin-left: 48.5rem;
  }
}
@media (min-width: 780px) {
  .header--container--text {
    margin-top: 1rem;
  }
}

/* ****************************** */
/* MAIN */

.item-aa {
  grid-area: area1a;
  justify-self: start;
}
.item-a {
  grid-area: area1;
}
.item-b {
  grid-area: area2;
}
.item-c {
  grid-area: area3;
}
.item-d {
  grid-area: area4;
}
.item-e {
  grid-area: area5;
}
.item-f {
  grid-area: area6;
}
.main--grid {
  margin: 1rem 0 3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "area1a area1a area1a"
    "area1 area2 area3"
    "area4 area5 area6";
}

.main--grid--box {
  border: 2px solid #e9e9e9;
  height: 12rem;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
  -moz-box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
  box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
}

.box--link {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-aa {
  border: none;
  align-items: flex-start;
  height: auto;
  box-shadow: none;
}

.main--grid--box img {
  width: 4rem;
  margin-bottom: 1rem;
}

.main--grid--box h4:nth-child(1) {
  font-size: 1.8rem;
}

.main--grid--box h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary);
  text-transform: uppercase;
}

.item-aa h4 {
  text-transform: capitalize;
}

.item-aa p {
  color: #484848;
  font-size: 1rem;
}

@media (min-width: 980px) {
  .main--grid {
    justify-content: center;
    grid-template-columns: 14rem 14rem 14rem 14rem 14rem 14rem 14rem;
    column-gap: 1rem;
    grid-template-rows: none;
    grid-template-areas: "area1a area1 area2 area3 area4 area5 area6";
  }
  .item-aa {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main--grid--box h4:nth-child(1) {
    font-size: 3.6rem;
  }

  .main--grid--box h4 {
    font-size: 1.4rem;
  }

  .main--grid--box p {
    font-size: 2rem;
  }
  .main--grid--box img {
    width: 6rem;
    margin-bottom: 2rem;
  }
}

@media (min-width: 1380px) {
  .main--grid {
    grid-template-columns: 21rem 18rem 18rem 18rem 18rem 18rem 18rem;
  }
  .main--grid--box {
    height: 18rem;
  }
}

/* ****************************** */
/* STATISTICS */

.statistics {
  background-image: url(../img/statisctics_1.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 15rem;
  /* flex */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 0 0 calc(33% - 1rem);
}

.statistics--box {
  text-align: center;
}
.statistics--box span {
  font-size: 4rem;
  color: var(--color-white);
}

.statistics--box p {
  font-size: 1rem;
}

.statistics--box--p__active {
  color: #fdd000;
}

@media (min-width: 780px) {
  .statistics {
    height: 30rem;
  }
  .statistics--box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .statistics--box span {
    font-size: 10rem;
  }
  .statistics--box--text p {
    text-align: left;
    margin-left: 1.5rem;
    font-size: 2rem;
  }
}

/* ****************************** */
/* ABOUT US */

.about {
  display: flex;
  flex-direction: column;
  height: 75rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.about h3 {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: normal;
  width: 12.5rem;
  color: #484848;
}

.about h3 span {
  font-weight: bold;
  color: var(--color-primary);
}

.about h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

.about--text p {
  text-align: justify;
  color: #484848;
  font-size: 1.2rem;
  line-height: 2.8;
}
.about--text p:nth-of-type(1) {
  margin: 2rem 0;
}

.about--img {
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

.about--img img {
  width: 26rem;
  height: 18rem;
}

.about--img--1 {
  margin-top: 2rem;
  position: relative;
  top: 0;
  left: 3rem;
}
.about--img--2 {
  position: absolute;
  top: 12rem;
  left: 0px;
}

@media (min-width: 480px) {
  .about--img--1 {
    left: 9rem;
  }
  .about {
    height: 65rem;
  }
}

@media (min-width: 768px) {
  .about--img {
    margin: 0 auto;
  }

  .about--img img {
    width: 34rem;
    height: 26rem;
  }
}

@media (min-width: 968px) {
  .about {
    flex-direction: row;
  }

  .about h3 {
    font-size: 4.8rem;
  }

  .about--text p {
    font-size: 1.6rem;
  }

  .about--img img {
    width: 34rem;
    height: 26rem;
  }

  .about--text p {
    width: 46rem;
  }

  .about--img--1 {
    margin-right: 4rem;
  }
  .about--img--2 {
    top: 20rem;
  }

  .about {
    height: 60rem;
  }
}

@media (min-width: 1180px) {
  .about--img img {
    width: 42rem;
    height: 32rem;
  }
}

/* *************************** */
/* SECTION QUALITIES */
.qualities {
  background: linear-gradient(
    180deg,
    var(--color-white) 90%,
    var(--color-primary) 10%
  );
  padding-bottom: 0.1rem;
}
.qualities-1 {
  grid-area: qualities-1;
}
.qualities-2 {
  grid-area: qualities-2;
}
.qualities--container {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "qualities-1"
    "qualities-2";
}

/* .qualities--div {
  -webkit-box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
  -moz-box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
  box-shadow: 0px 0px 11px 9px rgba(227, 227, 227, 0.22);
} */

.qualities--div--text {
  padding: 2rem;
  background-color: #f5f5f5;
}
.qualities--div--text h3 {
  margin: 2rem 0;
  color: var(--color-primary);
  text-transform: uppercase;
}

.qualities--div--text p {
  color: #484848;
  font-size: 1.2rem;
  line-height: 2.8;
}

@media (min-width: 980px) {
  .qualities {
    background: linear-gradient(
      180deg,
      var(--color-white) 50%,
      var(--color-primary) 10%
    );
    padding-bottom: 3rem;
  }
  .qualities--container {
    column-gap: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "qualities-1 qualities-2";
  }
  .qualities--div--text h3 {
    font-size: 3.6rem;
  }
  .qualities--div--text p {
    font-size: 1.6rem;
  }
}

/* ************************************/
/* ADVISER */

.adviser h3 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2.4rem;
}

.adviser h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

.adviser-1 {
  grid-area: adviser1;
  background-color: #f5f5f5;
  padding: 2rem 1rem;
}
.adviser-2 {
  grid-area: adviser2;
  background-color: var(--color-primary);
  padding: 2rem 1rem;
}
.adviser-3 {
  grid-area: adviser3;
  background-color: var(--color-primary);
  padding: 2rem 1rem;
}
.adviser-4 {
  grid-area: adviser4;
  background-color: var(--color-primary);
  padding: 2rem 1rem;
}

.adviser {
  background-color: #e9e9e9;
  padding-top: 3rem;
}
.adviser--div {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "adviser1 adviser1"
    "adviser2 adviser2"
    "adviser3 adviser4";
}
.adviser-1 li {
  list-style-type: none;
  font-size: 1.2rem;
  line-height: 2.8;
  color: #484848;
}
.adviser-1 li:before {
  content: "-";
  margin-right: 0.9rem;
}
.adviser--div h4 {
  color: var(--color-white);
  font-weight: normal;
}

.adviser--div p {
  color: var(--color-white);
  font-size: 1.2rem;
  line-height: 2.8;
}

.adviser-1 h4 {
  color: var(--color-primary);
}

.btn-adviser {
  border: 1px solid var(--color-primary);
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.5rem 2.8rem;
  background-color: #e9e9e9;
  text-align: center;
  text-decoration: none;
  margin: 5rem 0;
  color: var(--color-primary);
}

.btn-adviser:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.adviser--div--btn {
  display: flex;
  justify-content: center;
}

@media (min-width: 980px) {
  .adviser--div {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "adviser1 adviser1 adviser2 adviser2"
      "adviser1 adviser1 adviser3 adviser4";
  }
  .adviser h3 {
    font-size: 4.8rem;
    margin-bottom: 5rem;
  }
  .btn-adviser {
    font-size: 1.4rem;
  }
  .adviser-1 li {
    font-size: 1.6rem;
  }
  .adviser--div p {
    font-size: 1.6rem;
  }
}

/* *********************************** */
/* CAROUSEL */

.staff {
  padding: 2rem 0 6rem 0;
  background-color: var(--color-white);
}
.staff h3 {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 13rem;
}
.staff h3 span {
  color: #484848;
  font-weight: normal;
}
.staff h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}
/* 
------TABS INICIO
*/

.input--tab {
  display: none;
} /* hide radio buttons */

.input--tab:hover {
  color: #484848;
  cursor: pointer;
}

.input--tab + label {
  display: inline-block;
} /* show labels in line */
.input--tab ~ .tab {
  display: none;
} /* hide contents */
/* show contents only for selected tab */
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4 {
  display: flex;
}
.input--tab + label {
  /* box with rounded corner */
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: bold;
  padding: 7px 19px;
  position: relative;
  top: 1px;
}

.input--tab:checked + label {
  /* white background for selected tab */
  background: #6f1327;
  color: var(--color-white);
  border-bottom: 1px solid transparent;
}
.input--tab ~ .tab {
  /* grey line between tab and contents */
  border-top: 1px solid #999;
  padding: 12px;
}

.tabcontent {
  background-color: #6f1327;
  height: auto;
  padding-bottom: 5rem;
}

/* cards */

.card-group {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 3rem 1rem;
}
.card {
  border: none;
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
}
.card img {
  height: 30rem;
  width: 27rem;
}
.card-body {
  padding: 1rem;
}
.card-body h5 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.card-title--p__active {
  text-align: center;
  font-size: 1.2rem;
  color: #fdd000;
  margin-top: 0.3rem;
}
.card-body p {
  line-height: 2.8;
}

.card-body span {
  font-weight: 700;
}

.card-mail {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.card-mail img {
  color: var(--color-white);
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

@media (min-width: 480px) {
  .card {
    padding: 2rem;
  }
  .card img {
    height: 35rem;
    width: 32rem;
  }
  .card-mail img {
    color: var(--color-white);
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 780px) {
  .input--tab + label {
    padding: 0.7rem 5rem;
    font-size: 1.5rem;
  }
  .card {
    margin-right: 2rem;
  }
  .card-body p {
    line-height: 2;
  }
  .card img {
    height: 30rem;
    width: 26rem;
    margin-bottom: 2rem;
  }

  .card-body p {
    font-size: 1.3rem;
  }
  .card:last-of-type {
    margin-right: 0;
  }
  .content2 {
    height: 50rem;
  }
  .group-2 {
    display: flex;
    flex-direction: row;
  }

  .group-2 img {
    margin-right: 1rem;
    height: 25rem;
    width: 25rem;
  }

  .card-mail img {
    color: var(--color-white);
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    margin-bottom: 0;
  }
  .group-3 p {
    width: 40rem;
  }
  .group-3 img {
    margin-right: 4rem;
  }
  .group-3 .card-mail img {
    margin-right: 1rem;
  }
}

/* ************************************/
/* AREAS */

.areas {
  margin-bottom: 3rem;
}

.areas--div--img {
  margin-top: 2.5rem;
}

.areas--div--text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 3rem;
  background-color: #e9e9e9;
}

.areas--div--white {
  background-color: var(--color-white);
}
.areas--div--text h3 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.areas--div--text p {
  color: #484848;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 2.8;
}
.areas--div--text ul li {
  font-size: 1.2rem;
  color: #484848;
  line-height: 2.8;
}

.areas--btn {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.areas--btn--contact {
  display: inline-block;
  height: 3.3rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 1.6rem;
  padding: 0.4rem 2.8rem;
  background-color: #e9e9e9;
  text-transform: uppercase;
}

.areas--btn--contact:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}

@media (min-width: 768px) {
  .areas--1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .areas--1 div {
    flex: 0 0 calc(49% - 1rem);
  }

  .areas--2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .areas--2 div {
    flex: 0 0 calc(49% - 1rem);
  }

  .areas--2 div:nth-child(1) {
    order: 2;
  }

  .areas--3 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .areas--3 div {
    flex: 0 0 calc(49% - 1rem);
  }

  .areas--4 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .areas--4 div {
    flex: 0 0 calc(49% - 1rem);
  }

  .areas--4 div:nth-child(1) {
    order: 2;
  }

  .areas--5 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .areas--5 div {
    flex: 0 0 calc(49% - 1rem);
  }

  .areas--div--text h3 {
    font-size: 2.8rem;
  }
  .areas--div--text p {
    font-size: 1.6rem;
  }
  .areas--div--text ul li {
    font-size: 1.6rem;
  }
}

/* ************************************/
/* CUSTOMERS */

.customers {
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 30rem;
}
.customers h3 {
  margin: 0;
  width: 5rem;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
}

.customers h3 span {
  color: #484848;
  font-weight: normal;
}

.customers h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-25rem * 7));
  }
}
.slider {
  background: white;
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  display: flex;
  align-items: center;
  /* margin: auto; */
  margin-top: 3rem;
  overflow: hidden;
  position: relative;
  width: auto;
}

/* .slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
} */

/* .slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
} */

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(25rem * 14);
}
.slider .slide {
  height: 15rem;
  width: 24rem;
}

@media (min-width: 980px) {
  .customers h3 {
    font-size: 3.6rem;
  }
  .customers {
    margin-top: 10rem;
    margin-bottom: 8rem;
  }
}

/* ************************************ */
/* TESTIMONIALS */

.testimonials {
  background-image: url(../img/testimoniales.webp);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 65rem;
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.testimonials--div h3 {
  margin-bottom: 4rem;
  color: var(--color-white);
  text-transform: uppercase;
  width: 4rem;
  text-align: right;
}

.testimonials--div h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-white);
  margin-top: 0.5rem;
}

.testimonials--div h3 span {
  color: var(--color-white);
  font-size: 2.2rem;
  font-weight: bold;
}

.testimonials--div--text {
  border: 4px solid var(--color-white);
  padding: 2rem;
  width: 25rem;
  height: 20rem;
}

.testimonials--div--text blockquote {
  color: var(--color-white);
  font-size: 1.2rem;
}

blockquote {
  padding-top: 2rem;
  position: relative;
}
blockquote::before {
  content: "";
  background-image: url(../img/comillas.svg);
  background-repeat: no-repeat;
  width: 9rem;
  height: 8rem;
  display: block;
  position: absolute;
  right: -2rem;
  top: -5rem;
}

.testimonials--div--text--p__active {
  color: #fdd000;
}

.testimonials--all {
  display: flex;
  flex-direction: column;
}

.testimonial--1 {
  align-self: flex-start;
  height: 22rem;
}
.testimonial--2 {
  margin-top: 5rem;
  align-self: flex-end;
}

@media (min-width: 780px) {
  .testimonials {
    height: 75rem;
  }

  .testimonials--div h3 {
    font-size: 3.6rem;
  }

  .testimonials h3 span {
    font-size: 3.6rem;
  }

  .testimonials--div--text {
    border: 4px solid var(--color-white);
    padding: 2rem;
    width: 40rem;
    height: 22rem;
  }

  .testimonials--div--text blockquote {
    font-size: 1.6rem;
  }
  .testimonials--div--text--p__active {
    font-size: 1.6rem;
  }

  .testimonial--2 {
    height: 23rem;
  }
}

/* ************************************ */
/* CONTACT */
.contact h3 {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.contact h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

.contact--form {
  display: flex;
  flex-direction: column;
}
.contact--form p {
  color: #484848;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.contact--form--input {
  width: 100%;
  font-size: 1.8rem;
  outline: none;
  margin-bottom: 1rem;
  padding: 1rem 0;
  border: 0.2rem solid var(--color-primary);
}

.contact--form--input::placeholder {
  padding-left: 1rem;
  font-size: 1.8rem;
}

.contact--form textarea {
  border: 0.2rem solid var(--color-primary);
  height: 15rem;
  font-size: 1.8rem;

  width: 100%;
  outline: none;
}
.contact--form textarea::placeholder {
  padding: 1rem 0 0 1rem;
}

form .btn-sent:hover {
  color: #ffffff;
  background-color: var(--color-primary);
}

/* LOCATION */

.location {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.location h3 {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.location p {
  margin-top: 2rem;
  color: #484848;
  text-align: center;
  font-size: 2rem;
}

.location h3::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.4rem;
  background-color: var(--color-primary);
  margin-top: 0.5rem;
}

iframe {
  width: 100%;
  height: 40rem;
}

.full--contact {
  margin-bottom: 3rem;
}

.contact-1 {
  grid-area: contact1;
}

.contact-2 {
  grid-area: contact2;
}

@media (min-width: 780px) {
  .contact h3 {
    font-size: 3.8rem;
  }
  .location h3 {
    font-size: 3.8rem;
  }

  .full--contact {
    display: grid;
    column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "contact1 contact2";
  }
  .location {
    margin-top: 0;
  }
  .contact--form p {
    margin-bottom: 2rem;
  }
  .contact--form--input::placeholder {
    font-size: 1.5rem;
  }

  .contact--form textarea::placeholder {
    font-size: 1.5rem;
  }

  .contact--form--input {
    padding: 1.5rem 0;
    margin-bottom: 1.2rem;
  }
  .contact--form textarea {
    margin-top: 0.5rem;
  }
}

/* ******************************** */
/* SECTION FOOTER */

.footer {
  padding: 3rem 0;
  background-color: #e9e9e9;
}

.info-1 {
  grid-area: info-1;
}
.info-2 {
  grid-area: info-2;
}
.info-3 {
  margin-top: 2rem;
  grid-area: info-3;
}

.footer--navbar {
  column-gap: 1rem;

  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "info-1 info-2"
    "info-3 info-3";
}

@media (min-width: 368px) {
  .footer--navbar {
    grid-template-columns: 13rem 1fr;
  }
}
@media (min-width: 400px) {
  .footer--navbar {
    grid-template-columns: 14.5rem 1fr;
  }
}

.footer--navbar--nav {
  display: flex;
  flex-direction: column;
}

.footer--navbar--nav p {
  color: #484848;
  font-weight: 700;
  font-size: 1.6rem;
}

.footer--navbar--nav a {
  text-decoration: none;
  color: #484848;
  font-size: 1.6rem;
  line-height: 2;
}

.footer--navbar--nav--info {
  display: flex;
  align-items: center;
}
.footer--navbar--nav--info p {
  color: #484848;
  /* font-weight: normal; */
  font-size: 1.3rem;
  margin-left: 2rem;
  line-height: 1.2;
}

.footer--navbar--nav--info img {
  width: 2.5rem;
  height: 2.5rem;
}
.footer--navbar--nav--info p {
  line-height: 2;
  font-size: 1.5rem;
}
.footer--navbar--nav--info p:nth-child(1) {
  margin-left: 0;
}

.footer--navbar--nav--info__active {
  font-size: 1.6rem !important;
  text-transform: capitalize;
  font-weight: bold;
}

.info-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-2 div {
  flex: 0 0 calc(49% - 1rem);
}

.info-2-box {
  display: flex;
  flex-direction: column;
}

.info-2-box__active {
  margin-top: 2.5rem;
}

@media (min-width: 780px) {
  .info-3 {
    margin-top: 0;
  }
  .footer--navbar {
    gap: 0;
    display: grid;
    grid-template-columns: 30rem 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "info-1 info-2 info-3";
  }
  .footer--navbar--nav--info {
    margin-bottom: 1.5rem;
  }
  .footer--navbar--nav--info:last-of-type {
    margin-bottom: 0;
  }
  .footer--navbar--nav--info p {
    font-size: 2rem;
  }
  .footer--navbar--nav--info p {
    line-height: 1.5;
    /* font-size: 1.5rem; */
  }

  .footer--navbar--nav a {
    font-size: 2rem;
    transition: all 0.4s ease;
  }

  .footer--navbar--nav a:hover {
    font-size: 1.6rem;
    color: #5f5d5d;
  }

  .footer--navbar--nav--info__active {
    font-size: 2rem;
    font-weight: 700;
  }
  .info-2-box__active {
    margin-top: 2.6rem;
  }
}

/* FOOTER  */

.footer--last {
  background-color: var(--color-primary);
  padding: 3rem 0;
}
.footer--copy {
  display: flex;
  justify-content: space-between;
  flex: 0 0 calc(49% - 1rem);
}
.footer--copy--redes {
  display: flex;
}
.footer--copy--redes a {
  margin-right: 0.5rem;
}
.footer--copy--redes a img {
  width: 2rem;
}

.footer--copy p {
  text-align: center;
  font-size: 1rem;
}
@media (min-width: 780px) {
  .footer--copy p {
    font-size: 1.8rem;
  }
  .footer--copy--redes a {
    margin-right: 1rem;
  }
  .footer--copy--redes a:last-of-type {
    margin: 0;
  }

  .footer--copy--redes a img {
    width: 4rem;
    height: 4rem;
  }
}
